#page-container 
{
	clear:both;
	overflow: hidden;
width: 100%;
height:100%;
position: relative;
margin: auto;
<!--是左右自适应两边距离一样--居中，-->
margin: auto;
background: red;
text-align: center;
}

html,body 
{
<!--盒子和浏览器的顶端有空隙。由于浏览器的默认的填充和边界造成的。消除空隙-->
margin: auto;
height:100%;
width:100%;
font-family:Sans-serif;
font-size: 16px;
color: #666666;
background: #ffffff;

}
<!--加入类，可以使页面上任意属于hidden类的元素(element)不显示-->
.hidden {display: none;}

#main-nav 
{
background: khaki;
/*position:absolute;会导致main-nav高度不符*/
height:20%;
width:100%;
border-style: dotted;/*点线*/
overflow: hidden;
}

#multi
{
background: black;
height:60%;
width:100%;
float:auto;
font-family: "黑体";
text-decoration: underline; 
}

#content 
{
background:cyan ;
clear: both;
height:100%;
width:20%;
float:left;
font-family: "黑体";
text-decoration: underline; 
border-style:none;
}

#footer 
{
background: green;
width:80%;
	height:100%;
float:right;
} 


#desk
{
clear: both;
margin:auto;
background: pink;
width:100%;
height:20%;
} 
#shelf
{
background: yellow;
float:left;
width:60%;
height:80%;
border-style:solid;
} 

#block
{
clear: both;
background: lavender ;
float:right;
width:40%;
height:80%;
border-style:solid;
} 


#sidebar-a 
{
clear:both;
background: tomato;
height:20%;
text-decoration: underline; 
font-family: "华文新魏";
border-style:dashed; /*虚线*/
}
